*.exe
*.json
.idea
bin/
node_modules
frontend/
frontend/node_modules/
frontend/package-lock.json
data/
cmd/aws-test/
cmd/downloader/
cmd/dropbox/
cmd/image/
cmd/upload/
html1/
html/
web1
web2
web/images/
test.html
test_resized.jpg
