*.exe
*.json
.idea
bin/
node_modules
payment
frontend/node_modules/
frontend/package-lock.json
cmd/aws-test/
cmd/downloader/
cmd/dropbox/
cmd/image/
cmd/upload/
html1/
html/
go
css/
web
web1
web2
web/images/
test.html
test_resized.jpg
docker-compose.yml
.env
*.log
*.bat
*.dat
*.zip
/frontend/
coordinator.go
dropbox.go
dropboxZip.go
main.go
util
